credentials.json
JSM 2020 Abstract.docx
CoronaV_Map.py
CoronaV_Data.py
CoronaV_Data_v1.py
CoronaV_Data_v2.py
CoronaV_Trends_v1.py
CoronaV_Story_v1.py
app v1.py
app v2.py
app v3.py
app v4.py
scraper.py
latlnt_old.xlsx
data/GoogleTrends/
data/NYT/
data/archive_data/
style_sample/
Literature/
Media/
JSM2020/